NEXT_PUBLIC_APP_NAME="IBM Planning Analytics AI Copilot"
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
AI_DEFAULT_PROVIDER="mock"
IBM_PA_BASE_URL=https://xxxxxxxxx.planninganalytics.saas.ibm.com
IBM_PA_TENANT_ID=xxxxxxxx
IBM_PA_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

IBM_PA_TM1_SERVER=""
HEALTHCHECK_TOKEN=""
